.music {
    display: flex;
    flex-wrap: wrap;
}

audio {
    width: 300px;
    height: 54px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.musiccontainer:not(.newtext){
    display: flex;    
    flex-wrap: wrap;

    background-image: linear-gradient(to bottom, #00bfff, #1982ea);

    width: 350px;
    height: 120px;

    justify-content: center;
    align-items: center;

    margin: 20px;
}

.newtext {
    font-family: 'Raleway';
    color: white;
    position: relative;
    font-size: 13px;
    top: 40px
}
